body{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* font : 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
    font-family: 'Hi Melody', cursive;
    font-family: 'Song Myung', serif;
}
/* Header */
header{
    position: fixed;
    width: 100%;
    height: auto;
    top:0;
    background-color: transparent;
    z-index: 1;
}
#headerContainer{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    font-size: 24px;
}
#hc{
    list-style: none;
    padding-left: 0px;
    display: flex;
    right: 0;
    padding-right: 40px;
    justify-content: space-between;
}
#hc a{
    text-decoration-line: none;
    color: black;
    margin-right: 20px;
    font-size: 20px;
}
#logo{
    display: flex;
    align-items: center;
}
/* 배너 */
#imageContainer {
    width: 100%;
    height: 500px;
    filter: opacity(50%);
}
#myText{
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%,-50%);
    width:100%;
    text-align: center;
}
#myText div{
    font-size: 50px;
    font-weight: 600;
}
#myText p{
    font-weight: bold;
}
#middletext{
    color: darkblue;
}