/* clsss */
/* class는 스타일을 묶는 단위 */
.profile{
    width: 200px; 
    display: block; 
    margin-right: auto; 
    margin-left: auto;
}
.mainName{
    text-align: center; 
    letter-spacing: 8px;  
    font-size: 36px; font-weight: bold;
}
.jab{
    text-align: center; 
    font-weight: bold;
    color: red;
}

/* Class말고 다르게 스타일 넣기*/

/* 태그 전체에 적용 */
p {
    text-align:center; 
    font-weight: 500;
    color: blueviolet;
}
/* ID 적용 - 요즘엔 크게 쓰지 않는다.*/
#Id_test {
    text-align:center; 
    font-weight: 1000;
    color: chocolate;
}

