<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <header>
        <div id="name">oo님 환영합니다.</div>
        <div id="login">로그인</div>
    </header>
    <div>
        <div>
            <a>자유게시판</a>
            <a>공지사항</a>
            <a>기타</a>
        </div>
        <table>
            <th>
                <p>번호</p>
                <p>제목</p>
                <p>유형</p>
                <p>첨부파일</p>
                <p>날짜</p>
            </th>
            <tb>

            </tb>
        </table>
    </div>
</body>
</html>