<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    
    <script src="../public/javascripts/header.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index.css">
</head>
<body>
    <header id="header">
    </header>
    <div>
        <div id="boarderTitle">
            <a class="link" href="">자유게시판</a>
            <a class="link" href="">공지사항</a>
            <a class="link" href="">기타</a>
        </div>
        <table>
            <th>번호</th>
            <th>제목</th>
            <th>유형</th>
            <th>첨부파일</th>
            <th>날짜</th>
            
            <tr>
                <td>01</td>
                <td>askjlfjlkajsfdk;sdj</td>
                <td>slrk</td>
                <td>slrk</td>
                <td>slrk</td>
            </tr>
            
        </table>
    </div>
    <script src="../public/javascripts/header.js"></script>
</body>
</html>