<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/aboutMe.css">
    <title>Document</title>
</head>

<body>
    <div id="aboutMe">
        <h2 id="HeaderStyle">About Me</h2>
        <div id="myInfo">
            <!-- Name -->
            <div id="profileContainer" class="Container">
                <img id="profile" class="img1" src="../public/images/profilephoto.png"/>
                <div class="rightContainer">
                    <div>이름</div>
                    <div>최민준</div>
                </div>
            </div>
            <!--  -->
            <div class="Container">
                <img id="calendarIcon" class="img2" src="../public/images/callendar.png"/>
                <div class="rightContainer">
                    <div>생년월일</div>
                    <div>1993.06.24</div>
                </div>
            </div>
            <div class="Container">
                <img class="img1" src="../public/images/phone.png"/>
                <div class="rightContainer">
                    <div>연락처</div>
                    <div>010-3814-7827</div>
                </div>
            </div>
            <div class="Container">
                <img id="email" class="img2" src="../public/images/email.png"/>
                <div class="rightContainer">
                    <div>이메일</div>
                    <div>1020alswns@gmail.com</div>
                </div>
            </div>
            <div class="Container">
                <img id="location" class="img2" src="../public/images/location.png"/>
                <div class="rightContainer">
                    <div>주소지</div>
                    <div>서울특별시 관악구</div>
                </div>
            </div>
            <div class="Container">
                <img id="study" class="img3" src="../public/images/study.png"/>
                <div class="rightContainer">
                    <div>학력</div>
                    <div>동국대학교</div>
                    <div>(전자정보통신공학과)</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>