<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/skills.css">
    <title>Document</title>
</head>
<body>
    <div id="skillsContaniner">
        <div id="SCB">
            <h2 id="skills">SKILLS</h2>
            <div id="frontend">
                <div style="width: 100%; text-align:center;border-bottom: 1px solid rgba(235, 235, 235, 1);height: 65px;"><h2>FrontEnd</h2></div>
                <img id="html" src="../public/images/html.png"/>
                <img id="css" src="../public/images/css.png"/>
                <img id="js" src="../public/images/js.png"/>
                <img id="react" src="../public/images/react.png"/>
            </div>
            <div id="backend">
                <div style="width: 100%; text-align:center;border-bottom: 1px solid rgba(235, 235, 235, 1);height: 65px;"><h2>Backend</h2></div>
                <img id="mySQL" src="../public/images/mySQL.png"/>
                <img id="mongodb" src="../public/images/MongoDB_Logo.png"/>
                <img id="nodejs" src="../public/images/nodejs.png"/>
            </div>
            <div id="Deployment">
                <div style="width: 100%; text-align:center;border-bottom: 1px solid rgba(235, 235, 235, 1);height: 65px;"><h2>Deployment</h2></div>
                <img id="firebase" src="../public/images/fireBase.png"/>
                <img id="netify" src="../public/images/netify.png"/>
            </div>
            <div id="IDE">
                <div style="width: 100%; text-align:center;border-bottom: 1px solid rgba(235, 235, 235, 1);height: 65px;"><h2>IDE</h2></div>
                <img id="Eclipse" src="../public/images/Eclipse.png"/>
                <img id="vscode" src="../public/images/vscode.png"/>
                <img id="py" src="../public/images/pycharm.png"/>
                <img id="intel" src="../public/images/intel.png"/>
            </div>
            <div id="Version_Control">
                <div style="width: 100%; text-align:center;border-bottom: 1px solid rgba(235, 235, 235, 1);height: 65px;"><h2>Version Control</h2></div>
                <img id="Eclipse" src="../public/images/git.png"/>
                <img id="vscode" src="../public/images/sourcetree.png"/>
        </div>
    </div>
</body>
</html>