.link{
    display: flex;
    margin:5px 20px;
    cursor: pointer;
}
#boarderTitle{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}
table{
    margin: 1px auto;
    justify-content: center;
}
td{
    width: 16%;
    text-align: center;
}